h1,h2,h3,h4,h5,h6,div,span,table,tr,td,li,ul,body{
    padding: 0px;
    margin: 0px;
}
header {
  margin: 0 0 40px;
}
body{
	background:#f2f3f7 !important;
}
.default-font{
    font-family: "Maven Pro",sans-serif;
}

@mixin get-image($name){
    background-image: url('/images/' + $name);
}

.page_title {
  background: #00ade2 none repeat scroll 0 0;
  color: #ffffff;
  display: inline-block;
  font-family: "Oswald",sans-serif;
  font-size: 2.3em;
  line-height: 1.3em;
  margin: 40px 0 0;
  padding: 3px 10px;
  text-align: center;
  transform: rotate(-1.5deg);
  text-transform:uppercase
}
