doctype html
html(ng-app='surfapp',ng-controller='surfapp.controllers.AppController')
  head
    title
        |Surf App : {{title}}
    link(rel='stylesheet', href='/css/style.css')
    script(type='text/javascript', src='/js/vendor.js')
    script(type='text/javascript', src='/js/templates.js')
    script(type='text/javascript', src='/js/core.js')
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    header
      div(class="container")
          div(class="row")
              div(class="col-md-12")
                  div(class="text-center")
                    div(class="page_title")
                        | INPUT YOUR DETAILS....
    block content
