#surf-feature{
    .detail_list {
        ul {
            list-style: none;
            li {
                background: rgba(0, 0, 0, 0) no-repeat scroll left bottom;
                list-style: none;
                span {
                    font-size: 15px;
                    font-weight: bold;
                    padding-left: 18px;
                    @extend .default-font;
                }
            }
        }
    }

    .idea_img {
        padding-left: 60px;
        padding-top: 45px;
    }
    #center_idea{
    	padding-top:20px;
        p{
            font-size: 13px;
            font-weight: 700;
            margin: 15px 0 0;
            @extend .default-font;
        }

    }
    .text-aligner{
    	  padding: 0 0 0 34px;
    }
    .margin{
    	 margin-top: 25px;
    	 margin-left:20px;
    }
    .page_title h4{
    	font-weight:bold;
    	@extend .default-font;
    }
    .product_info {
      margin: 0 0 20px;
    }

    .product_detail > h2 {
      font-family: "Oswald",sans-serif;
      font-size: 1.35em !important;
      text-transform: uppercase;
    }
    .product_detail > h4 {
      font-family: "Oswald",sans-serif;
      font-size: 1em !important;
      text-transform: uppercase;
    }
    .product_detail > h2 >span{
      font-size: 0.85em !important;
    }

    .product_img {
      border: 1px solid #00ade2;
      float: left;
      position: relative;
      text-align: center;
      background: #fff;
      padding: 15px;
      height: 190px;
      @media screen and (max-device-width: 400px) {
        height: 160px;
        padding-top: 22px;
        img {
            width: 110px;
        }
      }

    }

    .product_detail {
      float: left;
      font-weight: bold;
      p {
        margin: 5px 0 0;
        font-size: 13px;
        font-weight:700;
        @extend .default-font;
      }
    }

    .theme-button {
      @extend .default-font;
      background: #00b6ad none repeat scroll 0 0 !important;
      border: medium none;
      color: #ffffff !important;
      cursor: pointer;
      display: block;
      font-size: 16px;
      margin: 10px 15px;
      padding: 12px 5px;
      text-align: center;
      text-decoration: none;
      width: 100%;
      text-transform: uppercase;
    }

    .view_demo {
      display: block;
      width: 100%;
      font-family: "Oswald",sans-serif;
      font-weight:normal;
      text-transform:uppercase
    }

    .board-price {
      background: #1e73be none repeat scroll 0 0;
      border-radius: 45px;
      color: #ffffff;
      height: 90px;
      left: -29px;
      position: absolute;
      top: -20px;
      width: 90px;
      @extend .default-font;
      span {
        font-size: 20px;
        font-weight: 100;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        font-weight:700;
        @extend .default-font;
      }
    }

    h2, .h2{
    	font-size:32px !important;
    }
    .page_title h4, .page_title h2{
    	 margin-bottom: 7px !important;
        margin-top: 11px !important;
    }

    .top_aligner {
     margin: 76px 0 0;
    }
}
