<div id="surf-feature" class="container-fluid">
    <div class="container">
        <div class="col-md-3 col-xs-12">
            <div class="detail_list">
            <ul>
                <li>
                    <slider values="sliderPreset.gender" ng-model="surfData.gender"></slider>
                    <span>Gender: {{preset.gender[surfData.gender]}}</span>
                </li>
                <li>
                    <slider values="sliderPreset.weight" ng-model="surfData.weight"></slider>
                    <span>Weight: {{preset.weight[surfData.weight].kg}} Kg</span>
                </li>
                <li>
                    <slider values="sliderPreset.abilities" ng-model="surfData.ability"></slider>
                    <span>Ability: {{preset.abilities[surfData.ability].display}}</span>
                </li>
                <li>
                    <slider floor="10" ceiling="74" step="2" ng-model="surfData.age"></slider>
                    <span>Age: {{surfData.age}} years</span>
                </li>
                <li>
                    <slider values="sliderPreset.fitness" ng-model="surfData.fitness"></slider>
                    <span>Fitness: {{preset.fitness[surfData.fitness].level}}</span>
                </li>

            </ul>
        </div>
        </div>
        <div class="col-md-4 col-xs-12 text-center" id="center_idea">
            <div class="inline-block">
                <div class="idea_img">
                    <div class="slider-wrap">
                        <div ng-class="ageClass"></div>
                        <div ng-class="weightClass"></div>
                        <div ng-class="abilityClass"></div>
                    </div>
                </div>
                <div class="text-aligner">
                    <div class="page_title margin">
                    <h4>your ideal volume:</h4>
                        <h2>{{getAllowedVolume(preset.abilities[surfData.ability].level, preset.weight[surfData.weight].kg, preset.fitness[surfData.fitness].multiplier)}} (litres)</h2>
                    </div>
                    <p>Means the types of boards I should ride are...</p>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-xs-12 top_aligner">
            <div class="repeated-item text-center col-xs-12 product_info" ng-repeat="board in boards | boardsFilter : loweLevel : higherLevel">
                    <div class="product_img col-xs-6">
                        <img ng-src="/images/dory.png" />
                        <div class="board-price">
                            <span>${{board.cost}}</span>
                        </div>
                    </div>
                    <div class="product_detail col-xs-6">
                        <h2>{{board.name}}</h2>
                        <h4>{{board.shape}}</h4>
                        <p>Wave height: {{board.waveheight}}ft</p>
                        <p>Speed: {{board.speed}}</p>
                        <p>Paddle Power: {{board.paddlepower}}</p>
                        <p>Manovourabilty: {{board.manovourabilty}}</p>
                        <a class="view_demo"><span><img ng-src="/images/play_icon.png" /></span> &nbsp;View board demo</a>
                        <a href="#" class="theme-button btn-default">Customise</a>
                    </div>
            </div>
        </div>
    </div>
</div>
