
  .slider-wrap {
    margin: auto;
    position: relative;
    width: 200px;
}
.slider-age {
    background: transparent url("/images/surfer_age.png") no-repeat scroll 0 0;
    height: 25px;
    left: 83px;
    position: absolute;
    top: 20px;
    width: 25px;
    z-index: 9999;
}
.slider-weight {
    background: transparent url("/images/surfer_weight.png") no-repeat scroll 21px 0;
    height: 131px;
    left: 68px;
    position: absolute;
    top: 46px;
    width: 60px;
    z-index: 9999;
}
.slider-ability {
    background: transparent url("/images/surfer_ability.png") no-repeat scroll 64px 90px;
    height: 200px;
    width: 200px;
    z-index: 10000;
}
.character-young {
    background-position: 0 0;
}
.character-thinish {
    background-position: -109px 0;
}
.character-mid {
    background-position: -239px 0;
}
.character-fat {
    background-position: -369px 0;
}
.character-inter-beginner {
    background-position: -156px 113px;
}
.character-inter {
    background-position: -436px 113px;
}
.character-advance-inter {
    background-position: -716px 113px;
}
.character-advanced, .character-pro{
    background-position: -1006px 113px;
}
.character-ymid {
    background-position: -121px 0;
}
.character-slower {
    background-position: -241px 0;
}
.character-middle {
    background-position: -362px 0;
}
.character-old {
    background-position: -474px 0;
}
.character-thin {
    background-position: 21px 0;
}
.character-beginner {
    background-position: 64px 90px;
}
